################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/Deck(MTG).mdf
/Deck(MTG)_log.ldf
/TopTrumpsDb.mdf
/TopTrumpsDb_log.ldf