################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SQL/dbo.CardAttributes.sql
/SQL/dbo.DeckSelection.sql
/SQL/dbo.MTGDeck.sql
/Deck(MTG).mdf
/Deck(MTG)_log.ldf
