@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center mt-5 mb-5">Select your deck</h1>

<section class=" d-flex  flex-wrap gy-5 justify-content-between mb-5">

    <div class=" d-flex flex-column mb-5">
        <div class="card border-primary mb-3 " style="max-width: 20rem;">
            <h4 class="card-title text-center">Roys title</h4>
            <img src="/images/animals/anaconda.jpg" class="h-100" />
        </div>
        <button type="button" class="btn btn-outline-primary btn-lg">Roys Deck</button>
    </div>

    <div class=" d-flex flex-column mb-5">
        <div class="card border-warning mb-3 " style="max-width: 20rem;">
            <h4 class="card-title text-center">Animals</h4>
            <img src="/images/animals/animals.jpg" class="h-100" />
        </div>
        <button type="button" class="btn btn-outline-warning btn-lg">Animals</button>
    </div>


    <div class=" d-flex flex-column mb-5">
        <div class="card border-info mb-3" style="max-width: 20rem;">
            <h4 class="card-title text-center">Ancient Gods </h4>
            <img src="/images/GM/Aphrodite.jpeg" class="h-100" />
        </div>
        <button type="button" class="btn btn-outline-info btn-lg">Ancient Gods</button>
    </div>


</section>

<section class="d-flex flex-column ">
    <h2 class="text-center mb-5"> Choose Your Opponent </h2>

    <div class="d-flex justify-content-around mb-5">
        <button type="button" class="btn btn-outline-success btn-lg">Easy AI</button>
        <button type="button" class="btn btn-outline-danger btn-lg">Hard AI</button>
        <button type="button" class="btn btn-outline-info btn-lg">Local Player</button>
    </div>

    <button type="button" class="btn btn-outline-primary btn-lg">Start Game</button>
</section>