@model  IEnumerable<Deck> 
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center mt-5 mb-5">Select your deck</h1>
@{
    <section class="  d-flex  flex-wrap gy-5 justify-content-between mb-5 center">
        @{
   var color = "";
                            @foreach(var obj in Model)
         {    
                            <div class="d-flex flex-column mb-5">
                                
                               @if(obj.Id ==1){
                    color = "primary";
                }
                                 @if(obj.Id ==2){
                    color = "warning";
                }
                                 @if(obj.Id ==3){
                    color = "info";
                }

                            <div class="card mb-3 border-@color" style="max-width:20rem; height:30rem">
                                     
                                <h4 class="card-title text-center">@obj.Name</h4>
                                <img src=@obj.ImagePath class="h-100" style="object-fit:cover" />
                            </div>
                            <button type="button" id = @obj.Id class="btn btn-outline-@color btn-lg">
                               
                                    @obj.Name
                                  
                                </button>
                        </div> 
    }
        
        }

        
    </section>

    <section class="d-flex flex-column ">
            <h2 class="text-center mb-5"> Choose Your Opponent </h2>

            <div class="d-flex justify-content-around mb-5">
                <button type="button" class="btn btn-outline-success btn-lg">Easy AI</button>
                <button type="button" class="btn btn-outline-danger btn-lg">Hard AI</button>
                <button type="button" class="btn btn-outline-info btn-lg">Local Player</button>
            </div>

            <button type="button" value="startGame" class="btn btn-outline-primary btn-lg" >
                <a asp-controller="Game" asp-action="Index">Start Game</a></button>
              
    </section>
    }