@model  IEnumerable<Deck> 

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center mt-5 mb-5">Select your deck</h1>
@{
    <form>
                @{<section class="  d-flex  flex-wrap gy-5 justify-content-between mb-5 center">
                        @{
                    var color = "";
                                @foreach (var obj in Model)
                    {
                                    <div class="d-flex flex-column mb-5">

                                        @if(obj.Id ==1){
                                color = "primary";
                            }
                                        @if(obj.Id ==2){
                                color = "warning";
                            }
                                        @if(obj.Id ==3){
                                color = "info";
                            }

                                        <div class="card mb-3 border-@color" style="max-width:20rem; height:30rem">
                                            <h4 class="card-title text-center">@obj.Name</h4>
                                            <img src=@obj.ImagePath class="h-100" style="object-fit:cover" />
                                        </div>
     
                                        <button name ="button"  class="btn btn-outline-@color btn-lg" asp-action="checkDeck" value = "@obj.Id"> 
                                                     @obj.Name
                                        </button>
                                     
                                         </div>
                    }

                        }


                    </section>

                    <section class="d-flex flex-column ">
                        <h2 class="text-center mb-5"> Choose Your Opponent </h2>

                        <div class="d-flex justify-content-around mb-5">
                            <button name="button" value = "Easy AI" class="btn btn-outline-success btn-lg"  asp-action="chooseMode">Easy AI</button>
                            <button name="button" value = "Hard AI" class="btn btn-outline-danger btn-lg" asp-action="chooseMode" >Hard AI</button>
                            <button name="button" value = "Local" class="btn btn-outline-info btn-lg" asp-action="chooseMode">Local Player</button>
                        </div>

                        <button type="submit" class="btn btn-outline-primary btn-lg" asp-action="StartGame" >
                            Start Game
                        </button>

                    </section>
                 
                }
    </form>
 
    }
  