
@{
    ViewData["Title"] = "Index";
}

<h1 text-center>Select your deck</h1>

<section class= " d-flex  flex-wrap gy-5">
<div class="card border-primary m-3" style="max-width: 20rem;">
    <h4 class="card-title text-center">Roys title</h4>
   <img src= "/images/animals/anaconda.jpg" class="h-100"/>
</div>

<div class="card border-warning m-3" style="max-width: 20rem;">
  <h4 class="card-title text-center">Animals</h4>
   <img src= "/images/animals/animals.jpg" class="h-100"/>
</div>

<div class="card border-info m-3" style="max-width: 20rem;">
  <h4 class="card-title text-center">Ancient Gods </h4>
   <img src= "/images/GM/Aphrodite.jpeg" class="h-100" />
</div>
</section>