
@model TopTrumps.Models.Deck
@{
    ViewData["Title"] = "Index";
}
<h1>Game On</h1>
<div>
    
    
    
      
    
            @Html.DisplayFor(model => model.Name)
             @Html.DisplayFor(model => model.ImagePath)
     
      
  @*          @Html.DisplayNameFor(model => model.Attr1)*@
   
        
</div>

