
@model TopTrumps.Models.Player
@{
    ViewData["Title"] = "Index";
}

<h1>Game On</h1>

<div>
            @Html.DisplayFor(model => model.Name)

            @Html.DisplayFor(model => model.PlayerHand.ImagePath)
            
            @*  @Html.DisplayNameFor(model => model.PlayerHand.getCards())*@

</div>

