
@model TopTrumps.Models.Game
@{
    ViewData["Title"] = "Index";
}

<h1>Game On</h1>

<div>
    
    
    
      
    
            @Html.DisplayFor(model => model.player1.Name)
             @Html.DisplayFor(model => model.player1.PlayerHand.ImagePath)
     
      
  @*          @Html.DisplayNameFor(model => model.Attr1)*@
   
        
</div>

